.metadata {
	@include clearfix;
	list-style: none;
	@include mq(tng, true) {
		width: 170px;
		float: left;
	}
	@include mq(ds9, true) {
		display: table;
		width: 100%;
		float: none;
	}
	&__item {
		@include clearfix;
		min-width: 120px;
		padding: 7px 0;
		padding-bottom: 0;
		border-bottom: 1px solid palette(shade, lightest);
		vertical-align: top;
		@include mq(ds9, true) {
			display: table-cell;
			width: auto;
			padding: 0 7px;
			float: none;
			border-left: 1px solid palette(shade, lightest);
			&:first-child {
				padding-left: 0;
				border-left: none;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	&__image {
		max-height: 48px;
		margin-right: 7px;
		float: left;
	}
	&__title {
		@include header-font;
		display: block;
		font-size: em-calc(12px);
		text-transform: uppercase;
		white-space: nowrap;
	}
	&__value {
		display: block;
		padding-bottom: 7px;
		color: palette(shade, base);
		font-size: em-calc(14px);
		a {
			color: inherit;
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}