.pagination {
	margin: 20px;
	font-size: 1.1em;
	list-style: none;
	text-align: center;
	&__item {
		display: inline-block;
		margin-bottom: .2em;
		&--text {
			margin-right: .2em;
			font-weight: bold;
		}
	}
	&__link {
		display: inline-block;
		padding: .2em .5em;
		border: 1px solid palette(shade, lightest);
		color: palette(shade, base);
		text-decoration: none;
		&:hover,
		&:focus {
			 border-color: palette(brand, primary);
		}
		&--current {
			background-color: palette(shade, lightest);
		}
	}
	&__text {
		font-weight: bold;
	}
	&__no {
		span {
			font-size: .75em;
			font-style: normal;
			vertical-align: text-top;
		}
	}
}