// Breakpoints 
$breakpoints: (
	ent: "only screen",
	tos: "only screen and (min-width: 600px)",
	tng: "only screen and (min-width: 770px)",
	ds9: "only screen and (min-width: 1024px)",
	voy: "only screen and (min-width: 1280px)"
);

// Font size
$base-font-size: 16px;

// Colour scheme
$palette: (
	brand: (
		primary: #e02437,
		secondary: #c22333,
		faded: #a2a2aa
	),
	section: (
		feeds: #ff5722,
		izzie: #2196f3,
		donations: #4caf50,
		documentation: #607d8b
	),
	staff: (
		administration: #009688,
		meet-operations: #4caf50,
		public-relations: #8bc34a
	),
	context: (
		accessibility: #fc0,
		success: #4caf50,
		warning: #ffc107,
		error: #f44336
	),
	shade: (
		white: #fff,
		lightest: #eaeaee,
		lighter: #dedede,
		light: #c7c7cc,
		base: #727277,
		dark: #424244,
		darker: #353535,
		darkest: #202022,
		black: #202022
	),
	social: (
		twitter: #55acee,
		facebook: #3b5998,
		deviantart: #05cc47,
		irc: #181a1b,
		skype: #00aff0
	)
);