.accessibility-links {
	position: absolute;
	top: -9999px;
	left: -9999px;
	a:focus {
		display: block;
		padding: .5em;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		color: palette(shade, black);
		background-color: palette(context, accessibility);
		text-align: center;
		text-decoration: none;
	}
}

*:focus {
	outline: 3px solid palette(context, accessibility) !important;
}