@mixin body-font {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, "Liberation Sans", sans-serif;
	font-size: $base-font-size;
	font-weight: 300;
	line-height: 1.375;
}

@mixin header-font {
	font-family: Lato, sans-serif;
	font-weight: 900;
}

@mixin header-janeway {
	@include header-font;
	font-size: 2em;
	line-height: 1.25;
	@include mq(tng) {
		font-size: 2.6em;
		line-height: 1.125;
	}
	@include mq(ds9, true) {
		font-size: 3.1em;
		line-height: 1.05;
	}
}

@mixin header-sisko {
	@include header-font;
	font-size: 1.375em;
	font-style: italic;
	text-transform: uppercase;
	line-height: 1.1;
	@include mq(tng) {
		font-size: 1.5em;
	}
	@include mq(ds9, true) {
		font-size: 1.75em;
	}
}

@mixin header-picard {
	@include body-font;
	font-size: em-calc(18px, 16px);
	font-weight: 600;
	text-transform: uppercase;
	@include mq(tng, true) {
		font-size: em-calc(20px, 17px);
	}
}

@mixin header-kirk {
	@include body-font;
	font-weight: 600;
	text-transform: uppercase;
}

@mixin header-archer {
	@include body-font;
	font-weight: 600;
}

@mixin header-pike {
	@include body-font;
	font-size: em-calc(12px);
	font-weight: 600;
}

body {
	@include body-font;
}