@mixin body-font {
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, "Liberation Sans", sans-serif;
	font-size: $base-font-size;
	font-weight: 300;
	line-height: 1.375;
	strong {
		font-weight: 400;
	}
}

@mixin header-font {
	font-family: Lato, sans-serif;
	font-weight: 900;
}

@mixin header-janeway {
	@include header-font;
	font-size: 2em;
	line-height: 1.25;
	@include mq(tng) {
		font-size: 2.6em;
		line-height: 1.125;
	}
	@include mq(ds9, true) {
		font-size: 3.1em;
		line-height: 1.05;
	}
}

@mixin header-sisko {
	@include header-font;
	font-size: 1.375em;
	font-style: italic;
	text-transform: uppercase;
	line-height: 1.13636364;
	@include mq(tng) {
		font-size: 1.5em;
		line-height: 1.25;
	}
	@include mq(ds9, true) {
		font-size: 1.75em;
		line-height: 1.25;
	}
}

@mixin header-picard {
	@include header-font;
	text-transform: uppercase;
}

@mixin header-kirk {
	@include header-font;
	font-size: .9375em;
	text-transform: uppercase;
}

@mixin header-archer {
	@include header-font;
	font-size: .833333333em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

body {
	@include body-font;
}