.article {
	margin-bottom: 20px;
	@include mq(tng, true) {
		margin-left: 190px;
	}
	@include mq(ds9) {
		margin-right: 240px;
	}
	@include mq(voy, true) {
		margin-right: 320px;
	}
	&__header {
		margin-bottom: 20px;
	}
	&__title {
		@include header-janeway;
	}
	&__body {
		font-size: em-calc(16px);
		line-height: em-calc(22px, 16px);
		@include mq(tng, true) {
			font-size: em-calc(17px);
			line-height: em-calc(25px, 17px);
		}
	}
	&__media {
		margin-top: 20px;
		margin-bottom: 20px;
		&--left {
			@include mq(tos, true) {
				max-width: 170px;
				margin-top: 0; // Floating images makes top margin no longer collapse, so remove it
				margin-right: 20px;
				float: left;
				clear: left;
			}
			@include mq(tng, true) {
				margin-left: -190px;
			}
		}
		&--right {
			@include mq(tng, true) {
				max-width: 300px;
				margin-top: 0; // Floating images makes top margin no longer collapse, so remove it
				margin-left: 20px;
				float: right;
				clear: right;
			}
			@include mq(ds9) {
				margin-right: -240px;
			}
			@include mq(voy, true) {
				margin-right: -320px;
			}
		}
		&--center {
			clear: both;
			@include mq(tng, true) {
				margin-left: -190px;
			}
			@include mq(ds9) {
				margin-right: -240px;
			}
			@include mq(voy, true) {
				margin-right: -320px;
			}
		}
	}
}

@import "article--meet";