.article--meet {
	@include clearfix;
	.article__header {
		@include mq(tng, true) {
			margin-left: -190px;
		}
		@include mq(ds9) {
			margin-right: -240px;
		}
		@include mq(voy, true) {
			margin-right: -320px;
		}
	}
	.article__meta {
		@include mq(tng, true) {
			margin-top: 20px;
		}
		@include mq(ds9, true) {
			margin-top: 10px;
		}
	}
}