.article {
	max-width: 42em;
	margin: 0 auto 20px;
	&__header {
		margin-bottom: 20px;
	}
	&__title {
		@include header-janeway;
	}
	&__body {
		font-size: em-calc(16px);
		line-height: em-calc(22px, 16px);
		@include mq(tng, true) {
			font-size: em-calc(17px);
			line-height: em-calc(25px, 17px);
		}
	}
}