.header {
	position: relative;
	z-index: 9000;
	transition: transform .5s cubic-bezier(.770, 0, .175, 1);
	&--sticky {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
	&--hide {
		transform: translateY(-100%);
	}
	&__branding {
		@include header-font;
		display: inline-block;
		height: 44px;
		padding: 10px;
		float: left;
		color: palette(shade, black);
		font-size: em-calc(21px);
		text-decoration: none;
		text-transform: uppercase;
		&:hover,
		&:focus {
			height: 45px;
			margin-bottom: -1px;
			border-bottom: 4px solid palette(brand, primary);
		}
		@include mq(tos, true) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	&__bar {
		@include clearfix;
		position: relative;
		z-index: 9002;
		border-bottom: 1px solid palette(shade, lightest);
		background-color: palette(shade, white);
	}
	&__navigation {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 9001;
		@include mq(tng, true) {
			display: inline-block;
			margin-right: 10px;
			top: 0;
			left: auto;
			z-index: 9003;
		}
	}
}