.meet-grid {
	overflow: hidden;
	.layout {
		 width: 100%;
		 max-width: 1440px;
	}
	&__item {
		padding-bottom: 40%;
		position: relative;
		background-color: palette(shade, dark);
		background-image: url("../images/background-texture.png");
		background-position: center;
		background-size: 1000px auto;
		overflow: hidden;
		transform-style: preserve-3d;
	}
	&__link {
		display: block;
		color: palette(shade, white);
		&:hover,
		&:focus {
			.meet-grid__body {
				box-shadow: inset 0 0 4em 0 rgba(palette(shade, black), .5);
			}
			.meet-grid__image {
				filter: grayscale(30%);
			}
		}
		&:focus {
			.meet-grid__title {
				outline: 3px solid palette(context, accessibility);
			}
		}
	}
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: filter .3s ease;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__body {
		padding: 10px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(135deg, rgba(palette(shade, black), .95) 0%, rgba(palette(shade, black), 0) 60%);
		text-shadow: .1em .1em 0 rgba(palette(shade, black), .95);
		transition: box-shadow .3s ease;
		@include mq(tos, true) {
			padding: 20px;
		}
	}
	&__title {
		@include header-sisko;
		display: inline-block;
		width: 85%;
		max-width: 380px;
		margin-bottom: 4px;
		position: relative;
	}
	&__date {
		display: block;
	}
	&--list-3 {
		.meet-grid__item {
			padding-bottom: 80%;
			@include mq(tos) {
				width: 50%;
				padding-bottom: 60%;
				float: left;
			}
			@include mq(tng, true) {
				width: 33.3333%;
				padding-bottom: 40%;
				float: left;
			}
			@include mq(ds9) {
				width: 33.3333%;
				padding-bottom: 30%;
			}
		}
	}
	&--items-2 {
		@include mq(tng, true) {
			.meet-grid__item {
				&:nth-child(1) {
					width: 66.6666%;
					float: left;
				}
				&:nth-child(2) {
					width: 33.3333%;
					float: right;
				}
			}
		}
	}
	&--items-3 {
		@include mq(tos) {
			.meet-grid__item {
				&:nth-child(2),
				&:nth-child(3) {
					width: 50%;
					float: left;
				}
			}
		}
		@include mq(tng, true) {
			.meet-grid__item {
				&:nth-child(1) {
					width: 66.6666%;
					float: left;
				}
				&:nth-child(2),
				&:nth-child(3) {
					width: 33.3333%;
					padding-bottom: 20%;
					float: right;
				}
			}
		}
	}
	&--homepage {
		.meet-grid__image,
		.meet-grid__title,
		.meet-grid__date {
			html.js.cssanimations & {
				opacity: 0;
			}
		}
	}
	&--animate {
		.meet-grid__item {
			@for $i from 2 through 21 {
				&:nth-child(#{$i}) {
					.meet-grid__image,
					.meet-grid__title,
					.meet-grid__date {
						animation-delay: (0.4s * ($i - 1));
					}
				}
			}
		}
		.meet-grid__image {
			animation-name: meetGridFadeIn;
			animation-duration: 1.2s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
		.meet-grid__title,
		.meet-grid__date {
			animation-name: meetGridTextIn;
			animation-duration: 1.2s;
			animation-timing-function: ease;
			animation-fill-mode: forwards;
		}
	}
}