.social-feed {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	&__item {
		display: inline-block;
		width: 100%;
		margin-bottom: 11px;
		padding: 10px 20px;
		border-top: 2px solid palette(shade, black);
		position: relative;
		text-align: left;
		vertical-align: top;
		@include mq(tos, true) {
			width: 49%;
		}
		@include mq(tng, true) {
			width: 32.3333%;
		}
		@include mq(ds9, true) {
			width: 24%;
		}
		&--twitter {
			border-color: palette(social, twitter);
		}
		&--facebook {
			border-color: palette(social, facebook);
		}
	}
	&__body {
		overflow: hidden;
	}
	&__permalink {
		color: palette(shade, base);
		text-decoration: none;
	}
	&__timestamp {
		font-style: italic;
	}
	&__content {
		height: 142px;
		position: relative;
		&:after {
			content: "";
			height: 2.5em;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
			pointer-events: none;
		}
	}
}