.template-homepage {
	&__meet-grid,
	&__banner {
		margin-top: -20px;
		margin-bottom: 20px;
		@include mq(tng, true) {
			margin-top: -40px;
		}
	}
	&__intro {
		max-width: 45em;
		margin: 0 auto 20px;
		padding-right: 20px;
		padding-left: 20px;
		font-size: em-calc(18px);
		@include mq(tos) {
			font-size: em-calc(20px);
		}
		@include mq(tng, true) {
			font-size: em-calc(22px);
		}
	}
	&__social-feed {
		
	}
}