.template-homepage {
	&__meet-grid,
	&__banner {
		margin-top: -20px;
		margin-bottom: 20px;
		@include mq(tng, true) {
			margin-top: -40px;
		}
	}
	&__intro {
		max-width: 45em;
		margin: 0 auto 20px;
		padding-right: 20px;
		padding-left: 20px;
		font-size: em-calc(18px);
		@include mq(tos) {
			font-size: em-calc(20px);
		}
		@include mq(tng, true) {
			font-size: em-calc(22px);
		}
	}
	&__social-feed {
		
	}
	&__construction { /* Temporary */
		margin-bottom: 20px;
		padding: 36px 20px 20px;
		background-color: rgb(255, 255, 0);
		background-image: repeating-linear-gradient(130deg, yellow 0, black 1px, black 10px, yellow 11px, yellow 20px);
		background-size: 100% 16px;
		background-repeat: repeat-x;
	}
}