.template-error-page {
	width: 90%;
	max-width: 560px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2.5%;
	padding-bottom: 5%;
	text-align: center;
	&__image {
		margin-bottom: 5%;
	}
	&__title {
		@include header-janeway;
	}
	&__body {
		
	}
}